* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.calc-container {
  border: 1px solid black;
  width: 400px;
  margin: 100px auto;
}
.output-section {
  height: 200px;
  border-bottom: 1px solid black;
  position: relative;
}

.output-section .result {
  border: none;
  width: 100%;
  position: absolute;
  padding: 0.2em 0.4em;
  font-size: 2rem;
  text-align: right;
  right: 0;
  bottom: 0;
}
.input-section {
  display: flex;
  padding: 0.5em 1em;
  justify-content: space-evenly;
}

.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.operations {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.numbers button,
.operations button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  margin: 0.4em;
  padding: 1em;
}
